<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <form id="entryForm" action="/test">
        <label for="r1">Enter the number of rows for matrix 1</label>
        <input type="number" if="r1" name="r1">
        <label for="c1">Enter the number of columns for matrix 1</label>
        <input type="number" if="c1" name="c1">
        <br>
        <label for="r2">Enter the number of rows for matrix 2</label>
        <input type="number" if="r2" name="r2">
        <label for="c2">Enter the number of columns for matrix 2</label>
        <input type="number" if="c2" name="c2">
        <br>
    </form>
    <button id="btn" onclick="e()">Submit</button>
    <script src="home.js"></script>
</body>
</html>